@using System.Security.Claims
@model WebMessager.ViewModels.UserChatsViewModel;


<div>
    <label>Список пользователей</label>

    @foreach (var chat in Model.Chats)
    {
        <div>
            @*<p> @Html.ActionLink(@chat.UserName, "Messages", "Home", new { @chat.ConnectionId, @chat.UserId })  </p>*@

            <a asp-area="" asp-controller="Home" asp-action="Messages" asp-route-userId="@chat.UserId">@chat.UserName</a>
            @if (User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value == "1")
            {
                <a asp-controller="Home" asp-action="DeleteUser" asp-route-id="@chat.UserId">X</a>
            }
        </div>
    }

</div>
